@import "tailwindcss";

.input-field {
  @apply rounded-xl border-gray-300 border rounded-lg p-2 px-3;
}

.input-field-label {
  @apply text-xs block text-gray-400 font-bold;
}

.input-field:has(input:focus) {
  @apply outline-2 outline-slate-800;
}

.btn-primary {
 @apply bg-slate-800 rounded-lg p-2 px-3 text-white font-bold cursor-pointer;
}

.btn-small {
  @apply p-1 px-3;
}

.table {
  @apply rounded-lg shadow text-center;
}

.table thead th {
  @apply p-3 bg-slate-900 text-white;
}

.table tbody td {
  @apply p-3;
}

.table thead tr:first-child th:first-child {
  @apply rounded-tl-lg;
}

.table thead tr:first-child th:last-child {
  @apply rounded-tr-lg;
}

.table tbody tr:last-child td:first-child {
  @apply rounded-bl-lg;
}

.table tbody tr:last-child td:last-child {
  @apply rounded-br-lg;
}
