<aside class="w-64 bg-white flex flex-col shadow">
  <div class="p-4 text-2xl font-bold border-gray-700">SportTracker</div>
  <nav class="flex-1 p-4 space-y-2 flex flex-col">
    <a
      href="/usuarios.html"
      class="block py-2 px-4 rounded text-white hover:bg-gray-700 hover:text-white"
      th:classappend="${#strings.startsWith(route, '/usuarios') ? 'bg-slate-900' : ''}"
    >
      Gestión de Usuarios
    </a>
    <a
      href="/competencias.html"
      class="block py-2 px-4 rounded hover:bg-gray-700 hover:text-white"
      th:classappend="${#strings.startsWith(route, '/competencias') ? 'bg-slate-900' : ''}"
    >
      Gestión de Competencias
    </a>
    <a
      href="/metas.html"
      class="block py-2 px-4 rounded hover:bg-gray-700 hover:text-white"
      th:classappend="${#strings.startsWith(route, '/metas') ? 'bg-slate-900' : ''}"
    >
      Gestión de Metas
    </a>

    <a
      href="/grupos.html"
      class="block py-2 px-4 rounded hover:bg-gray-700 hover:text-white"
      th:classappend="${#strings.startsWith(route, '/grupos') ? 'bg-slate-900' : ''}"
    >
      Gestión de Grupos
    </a>
    <a
      th:href="@{/reportes}"
      class="block py-2 px-4 rounded hover:bg-gray-700 hover:text-white"
      th:classappend="${#strings.startsWith(route, '/grupos') ? 'bg-slate-900' : ''}"
    >
      Reportes
    </a>
    <div class="mt-auto">
      <button
        class="btn-logout block py-2 px-4 rounded hover:bg-gray-700 cursor-pointer w-full text-left"
      >
        Cerrar Sesion
      </button>
    </div>
  </nav>
</aside>
